<div class="plenary yellowback">W O R K S H O P S</div>
<h1><%= @workshop.title %></h1>
<div class="plenary yellowback"><%= @workshop.presenter %></div>

<div class="pageview">
  <%=raw @workshop.content %>
</div>
