<h1>Attendee#index: Dashboard</h1>
<p>Find me in app/views/attendee/index.html.erb</p>


<h2>Workshop Registration</h2>
<div class="day">
  <h3>Day 1</h3>
  <ul id="sortable" class="day of workshop">
    <li data-name="Basic GIS and Remote Sensing">
      <p><a href="#">Basic GIS and Remote Sensing</a><br>
      Ravi Bhalla & V Srinivas </p>
      <div class="status">Seats available | Other Workshop | 1 Hour </div>
      <a href="#" title="Basic GIS and Remote Sensing" class="register">Register</a>
    </li>
    <li data-name="Thinking Quantitatively">
      <p><a href="#">Thinking Quantitatively</a><br>
      Suhel Quader</p>
      <div class="status">Seats available | Descriptive Workshop | 2 Hours <span class="notice">Repeat Workshop</span></div>
      <a href="#" title="Thinking Quantitatively" class="register">Register</a>
    </li>
    <li data-name="Researching environmental issues with human subjects: An introduction to mixed methods approaches">
      <p><a href="#">Researching environmental issues with human subjects: An introduction to mixed methods approaches</a><br>
      Asmita Kabra</p>
      <div class="status">Seats available | Other Workshop | 3 Hours</div>
      <a href="#" title="Researching environmental issues with human subjects: An introduction to mixed methods approaches" class="register">Register</a>
    </li>
    <li data-name="Using R">
      <p><a href="#">Using R</a><br>
      Raman Kumar</p>
      <div class="status">Seats available | Descriptive Workhop | 2 Hours <span class="notice">Repeat Workshop</span></div>
      <a href="#" title="Using R" class="register">Register</a>
    </li>
  </ul>
</div>