<div id="content">
<% @plenaries.each do |plenary| %>
<div class="item plenitem" style="background-image: url(<%= plenary.attachments[0].pic.url %>);">
    <br>
    <div class="speaker" style="background-color: #F99C1C; font-size: 150%; font-weight:900;"><%= plenary.presenter %></div>
    <br><br>
    <h1>
        <%= link_to plenary.title, conference_plenary_path(@conference, plenary)  %>
    </h1>
    <br>
    <!-- <div class="plenary yellowback">Plenaries &rarr;</div> -->

    <!-- <div class="plenary greenback">DATE: T.B.A. &nbsp; Max Participation : 30 students</div> -->
</div>
<% end %>
</div>