<div class="plenary yellowback">P L E N A R Y</div>
<h1><%= @plenary.title %></h1>
<div class="plenary yellowback"><%= @plenary.presenter %></div>

<div class="pageview">
  <%=raw @plenary.content %>
</div>
