/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
 HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

i {
  font-style: italic;
}

b {
  font-weight: 900;
}

/*CONTENTEDITABLE RESET*/

[contenteditable="true"]:active, [contenteditable="true"]:focus{
border:none;
outline:none;
}


/*
RESET OVER
*/


body {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #666;
  line-height: 18px;
  overflow-y: scroll;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ol li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  padding: 3px;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: #808080;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 100;
}

h1 {
  color: #000;
  font-size: 160%;
  font-weight: 400;
}

h2 {
  font-size: 140%;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
}

/*LINK STYLES*/

a {
  color: #F7931E;
  text-decoration: none;
}

a:hover {
  color: black;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}


#slider {
  padding-top: 20px;
}

.col {
  width: 390px;
  float: left;
  height: 330px;
}

.mid {
  padding-left: 15px;
  margin-right: 14px;
  border-right: 1px #999 solid;
}

#header {
  height: 40px;
  padding-top: 30px;
  border-bottom: 1px #999 solid;
}

#header h1 {
  float: left;
  text-transform: capitalize;
  font-style: italic;
}

#header p {
  float: right;
}

p#poweredby {
  width: 80px;
  float: left;
  font-size: 9px;
  margin-left: 20px;

  line-height: 12px;
}

p#down {
  margin-left: 10px;
  margin-right: 10px;
}

#ajaxer {
       width: 1200px;
       margin: 100 auto;
       padding-top: 50px;
}


.loader{
  text-align: center;
  margin-top: 40px;
}



/*DATATABLES STYLES*/

h2#title {
  margin-bottom: 20px;
}

#test_length {
  width: 600px;
  display: inline;
}

.dataTables_filter {
  text-align: right;
  display: inline-block;
  margin-left: 200px;
}

.dataTables_scroll {
  margin-top: 20px;
}

table {
       width: 1200px;
       font-size: 12px;
}

table th {
       background-color: #E6E6E6;
       text-align: left;
       padding: 3px 15px;
       height: 18px;
}

table td {
       text-align: left;
       padding: 5px 15px;
       color: #333;
       height: 18px;
}

table tr.even {
  background-color: #F8F8F8;
}


table tr:hover {
  background-color: #F0F0F0;
}

.no-records{
  text-align: center;
}


#explain {
  text-align: center;
}

/**
  * Styling for Modal.
**/

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: absolute;
  top: 0px;
  left: 280px;
  z-index: 1050;
  width: 99%;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 0%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 600px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/*h3#abstractModalLabel {
  font-size: 21px;
  font-weight: 300;
}*/

.modal-header h3 {
  font-size: 250%;
  font-weight: 300;
}

/** End styling for modal. **/

.close{
  float: right;
  font-size: 19px;
  font-weight: bold;
  color: gray;
}

a.close:visited{
  color: gray;
}

a.close:active{
  color: gray;
}

#myModal {
  width: 1024px;
  margin: 0 auto;
}

#imagesppt {
  max-width: 100%;
  max-height: 500px;
  background-color: white;
  margin-right: 10px;
  overflow: hidden;
}

#imagesppt img {
  max-width: 100%;
  max-height: 100%;
}

#modalleft {
  margin-bottom: 10px;
}

#abscontent {
  padding-bottom: 10px;
  margin-bottom: 9px;
  margin-top: 30px;
  border-bottom: 1px grey solid;
}

#abscontent h3 {
 /* font-size: 170%;*/
  font-weight: 300;
  text-transform: uppercase;
}

.abscontentdiv {
  width: 21%;
  padding: 1%;
  display: inline-block;
}

.assignedreviewers {
  display: none;
}

.singlereviewer {
  display: inline-block;
  width: 21%;
  padding: 1%;
  height: 100px;
}

.singlereviewer h3 {
  font-size: 150%;
  font-weight: 300;
  text-transform: uppercase;
}

.avgscore {
  font-size: 500%;
  line-height: 1;
  display: inline-block;
  width: 21%;
  padding: 1%;
}

.smallertitle {
  font-size: 23%;
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
}


.reviewerandscore {
  border-bottom: 1px solid gray;
}


/*[contenteditable="true"]:focus::before{
  content:"Careful! You are editing this field";
  color: red;
  display: block;
  text-align: right;
  border-bottom: 1px red dotted;

}*/


.editable {
  border: 1px solid gray;
  padding: 5px;
  height: 100px;
  overflow-y: scroll;
}

.editable:focus {
  border: 1px solid red;
}

.alert-danger{
  color: red;
}

.alert-success{
  color: green;
}

.pageContent{
  border: 1px dotted gray;
  padding: 5px;
}


#reviewersListModal, #reviewersModal, #addReviewerModal,  #createPageModal {
  width: 420px;
  margin: 0 auto;
}

#addAttendeeModal , #attendeeModal {
  width: 600px;
  margin: 0 auto;
}

#addAttendeeModal input, #attendeeModal input, #reviewersModal input {
  width: 45%;
}

#addAttendeeModal label, #attendeeModal label, #reviewersModal label {
  width: 150px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

#addReviewerModal input, #createPageModal input {
  width: 90%;
  line-height: 2;
  display: block;
}

.larger {
  font-size: 150%;
  font-weight: 300;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #DDCECE;
  font-family: 'Oswald';
  margin-bottom: 10px;
}

.csv-btn{
  float: right;
}

.csv-btn a{
  color: #000;
}

ul.dropdown-menu li {
  display: inline-block;
}

.menu-top {
  position: fixed;
  top: 0;
  font-size: 12px;
  background-color: black;
  width: 100%;
  height: 60px;
  color: white;
}

.menu-top a {
  margin-left: 20px;
}

.menu-top a:hover {
  color: white;
}

.attlinks {
  float: left;
  line-height: 60px;
}

.attcontainer , .guidelines, .workshop, .account{
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  font-size: 14px;
  line-height: 1.4;
}

.attcontainer p {
  margin-top: 20px;
}

.guidelines p {
  margin-top: 20px;
}

.guidelines, .workshop, .account{
  display: none;
}

.submitabstractform {
  display: none;
  margin-top: 20px;
}

.submitabstractform label {
  width: 80%;
  display: block;
  margin-top: 20px;
}

.submitabstractform input {
  width: 90%;
  display: block;
  padding: 10px;
}

.submitabstractform hr {
  width: 80%;
  border:none;
  height: 20px;
  text-align: left;
}

.submitabstractform input.radio {
  width: 10px;
  display: inline-block;
  padding: 10px;
}

.submitabstractform textarea {
  width: 90%;
  display: block;
  padding: 10px;
}

.submitabstractform input.subButton {
  width: auto;
  padding: 15px;
  margin-top: 20px;
  background-color: green;
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  text-transform: uppercase;
}

.preview {
  width: auto;
  display: inline-block;
  padding: 15px;
  margin-top: 20px;
  background-color: blue;
  border: none;
  color: white;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  display: none;
}

.previewspace {
  display: none;
  z-index: 10;
  width: 800px;
  min-height: 600px;
  padding: 20px;
  margin: 0 auto;
  top: 100px;
  margin-left: -20px;
  background-color: white;
  font-size: 12px;
  position: fixed;
}

.message img {
  max-width: 100%;
}

.message h3 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: -10px;
}

.message br:before {
  content: "<br>";
}

.counters {
  color: gray;
  font-size: 90%;
}

.counters:before {
  content: "Characters Left:";
}

.sample {
  padding: 20px;
  border: 1px #F0F0F0 solid;
  background-color: #F0F0F0;
  margin-top: 10px;
}

.bursaries {
  display: none;
}

.parsley-error-list {
  color: red;
}

#loaderspace {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  display: none;
  color: white;
  text-align: center;
  padding-top: 10%;
  overflow: hidden;
}

/*LOADING STUFF*/

#loadingProgressG{
width:256px;
margin: 0 auto;
height:8px;
overflow:hidden;
background-color:#FFFFFF;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;

}

.loadingProgressG{
background-color:#000000;
margin-top:0;
margin-left:-256px;
-moz-animation-name:bounce_loadingProgressG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:bounce_loadingProgressG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:bounce_loadingProgressG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:bounce_loadingProgressG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:bounce_loadingProgressG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
width:256px;
height:8px;
}

@-moz-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@-webkit-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@-ms-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@-o-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}


.attcontainer h2 {
  text-transform: none;
}

#abstractContentForReviewer {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
}

#abstractContentForReviewer img {
  max-width: 100%;
}

#abstractContentForReviewer h2 {
  font-size: 170%;
  line-height: 1.6;
  margin-top: 10px;
}


#abstractContentForReviewer h3 {
  font-size: 150%;
  line-height: 1.4;
  margin-top: 10px;
}

#abstractContentForReviewer #rcomm p {
  width: 50%;
  float: left;
}

#abstractContentForReviewer #rcomm p textarea {
  display: block;
  width: 90%;
}

#abstractContentForReviewer #rscore p {
  width: 50%;
  float: left;
}

#abstractContentForReviewer #rscore p input {
  display: inline-block;
  width: 30px;
  text-align: left;
}

#abstractContentForReviewer #rscore p input:after {
  content: ""
}

#reviewer_guidelines {
  z-index: 100;
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  padding: 30px;
  width: 100%;
  top: 0px;
  height: 100%;
  display: none;
}

#reviewer_guidelines p {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.reviewertable table {
  font-size: 14px;
}

/* MODALS AND MESSAGES
=============================================== */

#messages {
  width: 66.666666667%;
  max-width: 800px;
  position: fixed;
  margin: 0 auto;
  color: white;
  left: 16.666666667%;
  z-index: 100;
  position: fixed;
  top: 60px;
  font-weight: 500;
}

.error {
  background-color: #D35400;
  padding: 10px;
  text-align: center;
   /* Webkit (Safari/Chrome) */ -webkit-box-shadow: 4px 3px 57px 5px #999;
  /* Mozilla Firefox */ -moz-box-shadow: 4px 3px 57px 5px #999;
  /* Proposed W3C Markup */ box-shadow: 4px 3px 57px 5px #999;
  border: 1px solid white;
  margin: 10px 0px;
}

.success {
  background-color: #2ECC71;
  padding: 10px;
  text-align: center;
   /* Webkit (Safari/Chrome) */ -webkit-box-shadow: 4px 3px 57px 5px #999;
  /* Mozilla Firefox */ -moz-box-shadow: 4px 3px 57px 5px #999;
  /* Proposed W3C Markup */ box-shadow: 4px 3px 57px 5px #999;
  border: 1px solid white;
  margin: 10px 0px;
}

.loading {
  background-color: #9b59b6;
  padding: 10px;
  text-align: center;
   /* Webkit (Safari/Chrome) */ -webkit-box-shadow: 4px 3px 57px 5px #999;
  /* Mozilla Firefox */ -moz-box-shadow: 4px 3px 57px 5px #999;
  /* Proposed W3C Markup */ box-shadow: 4px 3px 57px 5px #999;
  border: 1px solid white;
  margin: 10px 0px;
}

.close {
  display: inline-block;
  float: right;
  cursor: pointer;
}


#modalwrap {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 100%;
  /*background-color:rgba(236, 240, 241,0.9);*/
  background-color:rgba(0,0,0,0.9);
  display: none;
  opacity: 0;
}

#modal {
  position: absolute;
  top: 0px;
  margin-right: -3000px;
  right: 0px;
  width: 80%;
  background-color: white;
  padding: 20px;
  padding-right: 60px;
  overflow-y: scroll;
}

#closewrap {
  width: 66.666666667%;
  max-width: 840px;
  margin-left: 16.666666667%;
  margin-top: 70px;
}

.closemodal {
/*  width: 20px;*/
  height: 20px;
  text-align: center;
  padding: 10px;
  background-color: #c0392b;
  font-weight: 900;
  color: white;
  cursor: pointer;
  float: left;
}

.closemodal:hover {
  background-color: #e74c3c;
}

#mismodalwrap {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color:rgba(236, 240, 241,0.9);
  opacity: 0;
  display: none;
}

#mismodal {
  margin-top: 0px;
  width: 80%;
  /*max-width: 800px;*/
  background-color: white;
  margin-left: 6.666666667%;
  padding: 20px;
  max-height: 80%;
  overflow: auto;
  position: absolute;
}

#closewrap {
  width: 66.666666667%;
  max-width: 840px;
  margin-left: 16.666666667%;
  margin-top: 70px;
}

.closemismodal {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 10px;
  background-color: #c0392b;
  font-weight: 900;
  color: white;
  cursor: pointer;
  float: right;
}

.closemismodal:hover {
  background-color: #e74c3c;
}

.loaderoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  text-align: center;
  color: white;
  opacity: 0;
  display: none;
}


.loader_back {
  width: 66px;
  height: 66px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #000;
  font-weight: 100;
  font-size: 10px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.loader {
  width: 50px;
  height: 50px;
  border-right: 8px solid #4D4D4D;
  border-bottom: 8px solid #4D4D4D;

  margin: auto;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-animation: rotate 2s infinite linear;
  -moz-animation: rotate 2s infinite linear;
  -ms-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}

.loader.yellow {
  border-left: 8px solid #CCC366;
  border-top: 8px solid #CCC366;
}

.loader.orange {
  border-left: 8px solid #CC8F66;
  border-top: 8px solid #CC8F66;
}

.loader.red {
  border-left: 8px solid #CC6866;
  border-top: 8px solid #CC6866;
}

.loader.pink {
  border-left: 8px solid #CC66C3;
  border-top: 8px solid #CC66C3;
}

.loader.violet {
  border-left: 8px solid #A366CC;
  border-top: 8px solid #A366CC;
}

.loader.blue {
  border-left: 8px solid #6670CC;
  border-top: 8px solid #6670CC;
}

.loader.green {
  border-left: 8px solid #66CC74;
  border-top: 8px solid #66CC74;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-ms-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}


.wcard {
  min-width: 200px;
  float: left;
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  min-height: 80px;
}

.dayreg {
  background-color: YellowGreen ;
}
