<p id="notice"><%= notice %></p>

<h1><%= @page.title %></h1>

<%=raw @page.content %>

<div id="adminfuncs">
<%= link_to 'Edit', edit_conference_page_path(@conference, @page) if can? :manage, @page %>
</div>
