<h1>Listing boards</h1>

<%= link_to "Create New Board", new_conference_board_path(@conference), :remote => true if can? :create, Board %>

<br />
<hr />
<% if @boards.any? -%>

	<% @boards.each do |board| -%>
		<div>
			<h3><%= link_to board.title, conference_board_path(@conference, board) %></h3>
			<span>By: <%= board.user.full_name %></span>
		</div>
		<hr>
	<% end -%>

<% end -%>
