<p id="notice"><%= notice %></p>

<div id="content">
	<div class="plenary yellowback">B L A C K &nbsp; B O A R D S</div>
	<h1><%= @board.title %></h1>
	<div class="plenary yellowback"><%= @board.user.full_name %></div>

	<div class="pageview">
		<%= @board.description %>
	</div>

</div>
