<table id="datatable">
<thead>
	<th>Abstract Name</th>
	<th>Session</th>
	<th>Actions</th>
</thead>
<tbody>
<% @allotments.each do |a| %>
	<tr>
		<td><%= link_to a.allotable.title, conference_submission_path(Conference.active, a.allotable), :remote=>true %></td>
		<td><%= a.period.title %></td>
		<td>
			<%= link_to "Re-Assign to Session", edit_sessions_allotment_path(a), :remote => true %> | 
			<%= link_to "Cancel From Session", destroy_sessions_allotment_path(a), :remote => true, :method => :delete %>
		</td>
	</tr>
<% end %>
</tbody>
