/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*h1, h2, h3, h4, h5 {
	font-weight: 500;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 110%;
}*/