<p>Hello <%= @resource.full_name %>, </p>

<% if @resource.status == :new_attendee -%>

	<p>You have been registered to SCCS. Follow the below link to complete your registration.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<% elsif @resource.status == :mass_attendee_reset_password -%>

	<p>It would be great if you reset your password as there have been some malicious attacks on the SCCS-Bangalore server. </p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

	<p>Please ensure that you change your password and log in. You will need to login to register for workshops, and participate in some of the other activities this year.</p>

<% else -%>
	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
<% end -%>

<br /><br />
<p>Thank You</p>
